[2021-07-09 14:08] skydoves commented on #201
#165

[2021-07-13 08:35] kaustav07 commented on #191
I am also facing this issue, I have 3,4 textviews inside custom layout and the contents I get from backend API, and there is also a relay of 4,5 of this type of pop up for coach mark purpose, but the  pop does not correctly meausre height and width of the inflated layout.

[2021-07-13 08:40] skydoves commented on #191
Hi, @kaustav07.
That makes sense. Thank you for sharing your experience.
Does the below solution work well?

[2021-07-13 09:21] kaustav07 commented on #191
it still doesn't calculate the height properly...

uploading layout file as well.
[bottom_nav_coach_mark_layout.txt](https://github.com/skydoves/Balloon/files/6807601/bottom_nav_coach_mark_layout.txt)

below is my code -

[code]

Now when I use `title.maxHeight = title.paint.measureText(title.text.toString()).toInt()` it get like this -

![image](https://user-images.githubusercontent.com/11479382/

[2021-07-13 09:43] kaustav07 commented on #191
@skydoves

I found out that if I use constraintLayout it doesn't calculate the view height properly even when initializing the balloon but with linearlayout it works fine.

[2021-07-14 10:37] skydoves commented on #88
Released a new snapshot `1.3.6-SNAPSHOT`. (#203)

[2021-07-14 10:38] skydoves commented on #201
#196

[2021-07-14 10:38] #201 closed

[2021-07-14 11:53] skydoves commented on #198
Sorry for the late reply.
Text is one of the body's contents. So it is not possible to separate the alpha value between body and text.

[2021-07-14 11:55] skydoves commented on #133
This issue has been resolve in the latest release.
The problem is the measuring exact height size for the custom layout that includes `TextView` was not correct.

[2021-07-14 11:55] #133 closed

[2021-07-15 19:53] praveenraikar commented on #202
Thank you for the inputs.
We used `isShowing()` method and it worked.

[2021-07-15 19:53] #202 closed

[2021-07-16 08:17] lu-lay opened #207 "I can't see the ui in Marshmallow 6.0.1 Expaira. The code is working normally."
I can't see the ui in Marshmallow 6.0.1 Expaira.
The code is working normally.

[2021-07-16 09:02] skydoves commented on #207
Hi, could you attach any screenshots or details of the codes?

[2021-07-16 14:51] dsuresh-ap commented on #11
Thanks, showing the Balloon from a Fragment without using `viewLifecycleOwner` causes a memory leak since the default logic takes the `lifecycleOwner` from `context.

[2021-07-19 01:26] lu-lay commented on #207
Hi ! is this code i used

 fun createLeftMenu(context: Context, leftMenuButton: View)
        {
            val balloon = Balloon.Builder(context)
                .setLayout(layout.layout_nearby)
                .setArrowSize(0)
                .setArrowOrientation(ArrowOrientation.TOP)
                .setArrowPosition(0.1f)
                .setPaddingTop(58)
                .setCornerRadius(0f)

[2021-07-19 12:44] 4rthurRousseau opened #208 "RecyclerView scroll required when the ViewHolder contains a TextView that can't be displayed on a single line"
- Library Version : 1.3.5
- Affected Device(s) : OnePlus 7T Pro, Android 10 - Emulator, Android 6, 8, 9 (not tested on any other Android version)

**Describe the Bug:**
While running the demo application, I changed the first item returned by the `getCustomSamples` method from `Timeline` to `Timelineeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee

[2021-07-19 14:25] skydoves commented on #207
I think the below code makes gone the balloon.
[code]

[2021-07-19 17:02] gastsail commented on #191
I found out that if you are using `ConstrainLayout` and have any view that has `0dp` for the constrain, the lib will not adapt for what you see in the editor, instead, use `match_parent` or `wrap_content` for those views, or simply use `LinearLayout`

[2021-07-20 01:21] lu-lay commented on #207
I changed the code, but it's still the same.
Modified code is:

 val balloon = Balloon.Builder(context)
                .setLayout(layout.layout_nearby)
                .setArrowSize(0)
                .setArrowOrientation(ArrowOrientation.TOP)
                .setArrowPosition(0.1f)
                .setPaddingTop(58)
                .setCornerRadius(0f)
              //.setBackgroundColor(Context

[2021-07-20 09:25] 4rthurRousseau commented on #208
Hi everyone,

It looks like I'm only facing this behavior the first time I display the Balloon :
![image](https://user-images.githubusercontent.com/7251970/126295603-49d52898-a0cd-4553-84d0-50f12f49a505.png)

Any subsequent display shows the Balloon with the right height :
![image](https://user-images.githubusercontent.com/7251970/126295709-8416a6e1-ca14-483e-a5c9-211b46e06e4c.png)

The first time

[2021-07-22 06:14] skydoves commented on #207
Hmm.. I think there is a problem in measuring `layout_nearby` layout.
Could you share the details of the XML layout?

[2021-07-25 14:43] skydoves commented on #191
Thanks to everyone! The above information was very helpful for troubleshooting.
And released a new version `1.3.6-SNAPSHOT`!
The snapshot includes that measuring text size automatically before showing.
Please test using this new version and let me know. 😄

[2021-07-26 10:34] spvince opened #210 "Handler not reset when i call dismiss method"
**Please complete the following information:**
- Library Version v1.3.5
- Affected Device(s) pixel 2 xl android 11

**Describe the Bug:**

I have a custom tooltip. There is a progress bar indicating how many time the tooltip will show and there is a cross bar which close instantaneously the tooltip ( I call method dismiss of Balloon class). In Balloon builder i call method setAutoDismissDuration (

[2021-07-26 13:41] skydoves commented on #210
Hi @spvince, Thanks for your issue!
A new version `1.3.6-SNAPSHOT-210` has been released and this issue will be resolved in the next stable release.
Thanks!

[2021-07-26 21:51] vitkhudenko opened #212 "Builder.setOverlayPaddingResource() results in a wrong overlay padding"
**Environment:**
- Library Version: 1.3.6-SNAPSHOT
- My Device: Google Nexus 5X (Android 8.1)

**Describe the Bug:**

Assuming there is a dimen declaration:
`<dimen name="overlay_padding">2dp</dimen>`

Using the `Builder.setOverlayPaddingResource(R.dimen.overlay_padding)` results in a much bigger (in times) overlay padding. How much bigger most likely depends on the device's screen pixel density.

[2021-07-26 22:06] vitkhudenko opened #213 "Anchor view highlight"
**Is your feature request related to a problem?**

It seems there is no possibility to "highlight" the anchor view (e.g. by surrounding the anchor view with a custom border).

**Describe the solution you'd like:**

Overlay padding is just a transparent space. Could it be colored with a custom color? E.g.:

![image](https://user-images.githubusercontent.com/198951/127064528-4c6d7ec3-bc95-4eb2-a983-

[2021-07-27 12:00] spvince commented on #210
Thanks @skydoves

[2021-07-28 07:43] vitkhudenko commented on #212
@skydoves, can I access the fixed version via any of the snapshot releases?

[2021-07-28 07:50] skydoves commented on #212
Hi @vitkhudenko,
you can access the `1.3.6-212-SNAPSHOT` version. Thanks!

[2021-07-28 09:38] vitkhudenko commented on #64
@skydoves,

Just encountered the very same issue. The problem - it is impossible to make the arrow triangle base wider than its height.

[2021-07-28 09:51] skydoves commented on #64
@vitkhudenko

Could you try using the `setArrowTopPadding`?

[code]

[2021-07-28 10:04] vitkhudenko commented on #64
@skydoves, unfortunately this does not work for me. The effect I observe is that the arrow just gets bigger (following the 16 arrow size) with custom top/bottom padding being ignored:

![image](https://user-images.githubusercontent.com/198951/127304321-fce7ff41-a3ef-4fa6-8534-df2990d4ef20.png)

[2021-07-28 10:42] skydoves commented on #212
`1.3.6` stable has been released!
Thanks for your issue.

[2021-07-28 10:42] #212 closed

[2021-07-28 10:42] skydoves commented on #210
`1.3.6` stable has been released!
Thanks for your issue.

[2021-07-28 10:42] #210 closed

[2021-07-28 10:43] skydoves commented on #191
Released a new stable `1.3.6`!

[2021-07-28 10:44] skydoves commented on #105
Released (#206) a new stable `1.3.6`!

[2021-07-28 10:44] #105 closed

[2021-07-28 10:44] skydoves commented on #88
Released a new stable `1.3.6`!

[2021-07-28 10:44] #88 closed

[2021-07-28 12:34] spvince commented on #210
Works fine

[2021-07-28 13:30] deprecated-fun opened #218 "Text Gravity is not working properly"
I'm not sure if it's bug or not but it seems like you can't set text gravity and "textview" gravity separately.

- Library Version [1.3.5]

The Bug?:
  val balloon: Balloon? = context?.let {
            Balloon.Builder(it)
                //text
                .setTextSizeResource(R.dimen.fontl)
                .setText(getString(R.string.text))
                .setTextColor(ContextCompat.getColo

[2021-07-28 22:23] #196 closed

[2021-07-29 06:41] asker517 opened #220 "balloon content always has radius.."
happened in Latest version

just create a list  as balloon content ,then add `    android:background="?attr/selectableItemBackground"
` on list item for click background status

however, when i click first item or last item ..radius limit ripple background

that not expected .. only wanna radius on balloon not for content

[2021-07-29 06:45] skydoves commented on #220
Hi, could you build and test using the [demo project](https://github.com/skydoves/Balloon/blob/main/app/src/main/java/com/skydoves/balloondemo/factory/CustomListBalloonFactory.kt)?
The `CustomListBalloonFactory` creates the same Balloon that you said.

[2021-07-29 07:05] asker517 commented on #220
@skydoves that my codes below:
[code]
common_layout_custom.xml:
[code]
common_balloon_item.xml:
[code]

almost the same as you demo, just remove some padding setting that not need in my case

[2021-07-29 07:17] skydoves commented on #220
Hmm, that's weird. Or how about adding the below style to your theme?

[code]

[2021-07-29 07:45] asker517 commented on #220
@skydoves ...it's worked ..!!

[2021-07-29 07:46] skydoves commented on #220
Great! :)

[2021-07-29 07:48] asker517 commented on #220
@skydoves but...another issue happened...ripple background will alway keep a rect shape..not adjust the balloon radius..Orzzz

[2021-07-29 07:50] asker517 commented on #220
@skydoves Oh..I'm sorry ...i just revert my code...actually..it's not work ....when i add `<item name="colorControlHighlight">@color/colorPrimary</item>`

[2021-07-29 07:54] asker517 commented on #220
if i called
[code]
..both balloon and it's content has no radius

[2021-07-29 14:07] skydoves commented on #218
Hi, do you mean you want to set a static width size for the balloon and change the gravity of `TextView`?
I think it should be implemented using a custom layout. Because measuring the width size of the `TextView` in the normal balloon will be decided by the width size of the body.

[2021-07-30 05:27] skydoves commented on #220
Hi, could you please describe your specific issue again?
I think `setCornerRadius(0f)` works fine in the demo project.

[2021-07-30 05:52] asker517 commented on #220
it's right,  ```setCornerRadius(0f)``` is no problem, i mean only i add ```setCornerRadius(0f)``` can make my content has no radius ..for example,if i ```setCornerRadius(2f)``` ..both balloon shape and its content has radius,but actually i only wanna balloon shape has round corners with radius..

[2021-07-30 05:56] asker517 commented on #220
![issue1](https://user-images.githubusercontent.com/4809630/127607291-6c350896-8758-4af8-b1da-0eb0e2a42dc0.jpg)
just like this...some way to avoid item1 background without radius?

[2021-07-30 10:16] asker517 commented on #220
@skydoves seems the issue is ```RadiusLayout```'s background radius presented always smaller than
 your```canvas.clipPath(path)```'s path radius presented...even though..they are same value..
if set ```RadiusLayout.clipToOutline=true``` will be nice result that i expected..but api level 21 above limited

i don't know wether it is a issue or just you wanna design like this..but it's really a wired

[2021-07-31 07:19] holgerschlegel opened #222 "Show balloon centered over anchor"
I'm using version 1.3.6 of your great library.

Maybe this is somehow related to issue #194. Not sure about that.

I would like to show the balloon centered over the anchor view. So the center of the balloon (not the arrow tip) is at the same absolute location as the center of the anchor view. Of course, adjusted to always fully show the balloon on the screen.
Here 'over' is meant in terms of z-or

[2021-07-31 10:33] skydoves commented on #213
This feature will be included in the next stable, and you can use it early in the `1.3.7-SNAPHSOT`.

[2021-08-02 21:45] alejandro-rios opened #224 "Suggestion for ballon property?"
**Is your feature request related to a problem?**

Not sure if this already exists but, looking for the arrow properties i didn't see something that could let me implement this

![Screen Shot 2021-08-02 at 4 21 33 PM](https://user-images.githubusercontent.com/10689052/127925780-1ac08419-262d-48da-b72f-30acefb107bd.png)

The idea would be, instead of an arrow, to be able to add a border to highligh

[2021-08-03 03:57] preethambogadi opened #225 "Is there an ability to click on the Anchor view when there is visible overLay around the Ballon popup?"
.setFocusable(false) Will let us touch all the views around Balloon PopUp view even when the Balloon Popup is present.

But when overLay is present .setFocusable(false) is of no use. Is there anyother way to achieve this?

Example: With single tap on the notification icon. I wanted to dismiss the BallonPopUp and also allow click event on the Notification icon
<img width="133" alt="Screen Shot 2021

[2021-08-03 06:34] JoePaul commented on #225
I had the same problem in my project, I solved it like the code snippet below and then manually dismiss the Balloon in the notification icons click listener. I don't know if it is the best way to do it but it passes the event down to the anchor being highlighted 😄

![image](https://user-images.githubusercontent.com/36191409/127968464-34edfd17-bcaf-4b5f-b022-b7129ee8ce76.png)

[2021-08-03 07:20] Azazel commented on #220
It looks like when `radius` value is set on `RadiusLayout` it expects it to be `@Dp` value, but in fact it is already a `@Px` value. Which applies dp->px coefficient again and  corners of RadiusLayout have radius different from background gradient.

[2021-08-03 07:38] asker517 commented on #220
@skydoves em...
[code]
you are right...issue is here...``set(@Dp...)``..actually when called ``radius = builder.cornerRadius``...``builder.cornerRadius`` was a px value already..

[2021-08-03 07:46] #191 closed

[2021-08-04 14:38] preethambogadi commented on #225
Thanks @JoePaul

[2021-08-04 14:38] #225 closed

[2021-08-06 08:44] spvince opened #227 "Manage horizontal and vertical size of arrow"
**Is your feature request related to a problem?**

I would like to make an arrow like the picture below. But i didn't find solution. I think the size of arrow prevent.

![image-20210805-151353](https://user-images.githubusercontent.com/63065444/128482770-a11c0609-4e92-4790-bbb2-98f0b8b1eca6.png)

**Describe the solution you'd like:**

I would like to have 2 properties :
setArrowVerticalSize(@Dp va

[2021-08-09 13:43] vitkhudenko opened #228 "Overlay is not redrawn on Balloon.update(anchor) call"
**Please complete the following information:**
- Library Version: v1.3.6
- Affected Device(s): any device

**Describe the Bug:**
Whenever anchor view changes its position on the screen I call `balloon.update(anchor)`.
However if overlay is shown, there is a bug - the overlay view is not updated at all, highlighting the outdated anchor "hole".

**Expected Behavior:**
Implementation of the `balloon.

[2021-08-09 13:44] vitkhudenko commented on #228
I'm creating a fix for this. Please wait for a PR.

[2021-08-09 22:06] vitkhudenko commented on #227
This is similar to what I discussed here - https://github.com/skydoves/Balloon/discussions/216

[2021-08-10 07:35] spvince commented on #227
Thanks @vitkhudenko

[2021-08-10 10:41] #228 closed

[2021-08-10 13:45] vkhirani93 opened #230 "Show multiple balloons in sequence in recycler view"
In case of sequential balloons inside a fragment/activity, we use relayShow() but how do we achieve this when we want to show balloon in sequence for multiple recycler view items. Is this possible?

I read the documentation but didn't find anything related to it.

 Please help. Thanks in advance.

[2021-08-10 17:33] vitkhudenko commented on #228
@skydoves , I guess the fix can be accessed within one of the 1.3.7-SNAPSHOT-XXX. Could you please point me to what XXX is?

[2021-08-11 02:18] skydoves commented on #228
`1.3.7-228-SNAPSHOT` has been released.
Thanks, @vitkhudenko !

[2021-08-11 02:20] skydoves commented on #230
Hi @vkhirani93, could you explain more details?
I think you can achieve this using like `onItemClickListener(itemAnchorView: View, data: Any)` and passing the item View to the listener.

[2021-08-11 02:22] skydoves commented on #224
Hi, @alejandro-rios !
Sorry for the late reply. Is that meaning you want to use a custom view for the arrow?

[2021-08-11 02:25] skydoves commented on #218
For double-check, the textView has the `android:layout_width="match_parent"` attribute internally, so I recommend creating a custom view instead. Thanks!

[2021-08-11 02:25] #218 closed

[2021-08-12 12:39] farsuller opened #231 "how to set text size to dp?"
how to set the textsize into dp not as sp?

[2021-08-12 13:22] skydoves commented on #231
If you get the `TextView` using the below code.

[code]

[2021-08-12 18:04] vkhirani93 commented on #230
Hi @skydoves,
I have a RecyclerView with a Grid Adapter. I want to show balloon as a tooltip for few items in order to highlight them.

For e.g. If I have 12 items in the 3 X 4 Grid. I want to show balloon over 1st item, 5th item and 8th item one-by-one after a specific time interval (Let us consider 5 sec.).

The balloon over the 1st item should be dismissed automatically after 5 seconds and then

[2021-08-14 14:53] WenLonG12345 opened #232 "Overlay follow anchor view's shape"
Hi, I come over here from `PowerMenu` since there is no overlay function in `PowerMenu`.
`Balloon` is very awesome and thanks for this library! :)

However, I still have some problem, regarding to the overlay.

![image](https://user-images.githubusercontent.com/39330565/129450260-86057883-fb0c-4ef8-9036-ff49cba9e588.png)

Is it possible that the overlay follow the anchor's view shape? since I have

[2021-08-16 07:02] skydoves commented on #232
Hi, @WenLonG12345,
Unfortunately, there is no way to implement the specific shape for highlighting now. (Applying different radius for each corner)

[2021-08-16 07:02] #231 closed

[2021-08-16 07:18] WenLonG12345 commented on #232
Will it be a feature request? or maybe I can try to do a PR for this. :)

[2021-08-16 07:21] #232 closed

[2021-08-17 13:08] alejandro-rios commented on #224
Yes, would be nice to have that property so I can implement it like the example image.

[2021-09-01 17:45] rulfox opened #233 "Height overflows while using setHeight(BalloonSizeSpec.WRAP)"
The height of the balloon covers the entire screen even when the custom view height is approximately 300 dp.
How to use dynamic height?

Next to do: I need to include a recyclerview inside the balloon - Not done yet
Will recyclerview affect the height of popup ?
I have not yet added recyclerview.

[2021-09-02 11:28] KishanVajani opened #234 "Spacing is not proper"
**Please complete the following information:**
- Library Version 1.3.6
- Affected Device(s) Samsung Galaxy M30 with Android 10.0

I am using two text view in vertical manner for creating tooltip balloon but if the content of the 1st text view is grater then the below text view it is going to new line instead of giving more width for balloon.

I want both text view in single line by making more wid

[2021-09-03 11:57] skydoves commented on #234
Hi, could you share your `Balloon.Builder` codes?

[2021-09-03 12:00] skydoves commented on #233
You should check the height size of the custom layout.
The `BalloonSizeSpec.WRAP` will follows the height of the internal custom layout.
Also, you can update the size of the `Balloon` using the below method.
[code]

[2021-09-06 03:50] TaoSunkist commented on #191
me too , but release-1.2.9 the version is okay.

[2021-09-08 10:41] #233 closed

[2021-09-08 10:41] #234 closed

[2021-09-08 10:41] #198 closed

[2021-09-08 10:46] skydoves commented on #199
Sorry for the late reply.
Would you please execute the `showAlignTop(balloon2)` inside of the `post` method?

[code]

[2021-09-09 14:12] iAmJuan550 opened #237 "Your balloon triggers the bottom navigation bar"
When I execute the following code:

[code]

The bottom navigation bar is triggered and it stays active for as long as the balloon popup is there and it goes away when the balloon popup is dismissed. Is there a way to disable that?

[2021-09-09 14:17] skydoves commented on #237
Hi, do you have any simulated videos like a GIF image?

[2021-09-09 18:22] sarimmehdi commented on #237
No. I am using your library with arcore though. Other dialog libraries also do the same for my arcore app, I have some obj files for 3D models

[2021-09-09 19:14] iAmJuan550 commented on #237
@sarimmehdi is my personal github, this is my work github (just in case that reply confused you)

[2021-09-10 07:28] skydoves commented on #237
Do you show up the balloon over the arcoreview?
That would make a lot of unexpected issues.
Because showing a `Window` on the `arcoreview` is not a recommended way.

[2021-09-10 07:38] iAmJuan550 commented on #237
Hmm, any workaround for this then?

[2021-09-10 11:50] skydoves commented on #237
Well, I just used a fake View for showing the balloon safely.
You can reference theses:
[activity_scene.xml](https://github.com/skydoves/Pokedex-AR/blob/b302785750e8d1194fe24a54ba019b1d947bcd0b/app/src/main/res/layout/activity_scene.xml): As you can see there is a fake `android:id="@+id/bindingView"` view and Balloon is shown over the view.
[bindShowBalloon](bindShowingBalloon)

[2021-09-10 13:01] iAmJuan550 commented on #237
Doesn't seem to work for me. I am using Sceneform with its SceneView (I created a fake view that displays on top of ArSceneView). I guess that could be the cause of this. If

[2021-09-10 18:12] KKitar opened #238 "Show balloon popupWindow below keyboard"
**Is your feature request related to a problem?**

We want to have the possibility to show the balloon tooltip below the keyboard.
Our balloon popup has setDismissWhenTouchOutside(false) and has custom layout with "X" to close it.
Our problem is that when the tooltip is shown and the first Editext gets focused, a part of it is displayed over the Keyboard on the screen, preventing the user to conti

[2021-09-11 03:38] skydoves commented on #238
Hi @KKitar,

I think the public visibility getter functions should be provided for `bodyWindow` or `bodyWindow.inputMethodMode`.
I will provide the functions in the next release.
Thank you for your issue!

[2021-09-11 11:22] holgerschlegel commented on #131
Hi @skydoves,

I just played around with a dummy PopupWindow trying to find a solution for the popup been cut off some pixels outside of the parent dialog fragment.

The following test Java code is from the onClick listener on a button shown in a not full screen dialog fragment.
[code]

Running it and clicking that button shows a popup that is cut off about a centimeter below the visible border of

[2021-09-11 14:21] skydoves commented on #238
Hi @KKitar,
A new stable `1.3.7` is released!
You can access the `balloon.bodyWindow` directly without using the reflection.
Thanks!

[2021-09-11 14:21] #238 closed

[2021-09-11 14:21] skydoves commented on #213
A new stable `1.3.7` is released.
Thanks for your contribution @vitkhudenko !

[2021-09-11 14:21] #213 closed

[2021-09-11 14:24] skydoves commented on #131
Hey @holgerschlegel,
Thanks for your detailed feedback and many kinds of solutions! 🙏
Just released a new stable `1.3.7`.
You can access `balloon.bodyWindow` directly or you can use `setIsAttachedInDecor(false)` on your `Builder` class.
Thanks for your contribution!

[2021-09-11 14:24] #131 closed

[2021-09-11 14:28] skydoves commented on #140
Hi @Beb3r,
It seems too late, but there is a new solution.
You can resolve this issue like the below on a new stable `1.3.7`.

[code]
or
[code]

Thanks for your issue!

[2021-09-11 14:28] #140 closed

[2021-09-15 13:13] utkualtas opened #241 "Clear SharedPreferences (preferenceName, showTimes)"
**Is your feature request related to a problem?**
We have a logout feature in our app. The problem is that when the user logged out we need to clear the showTime but as far as I could see there is not a function for that. Am I wrong?

**Describe the solution you'd like:**
Actually, I can clear the preferences like this way;
`context.getSharedPreferences("com.skydoves.balloon", Context.MODE_PRIVATE

[2021-09-15 13:29] skydoves commented on #241
Hi @utkualtas,
Thanks for your issue!
A new snapshot `1.3.8-SNAPSHOT` is released.

[2021-09-15 13:33] utkualtas commented on #241
Thank you, that was fast @skydoves 👍

[2021-09-15 13:56] utkualtas commented on #241
Hi again @skydoves,
I just noticed that we need a Balloon instance to call `clearAllPreferences()`. Do we have a chance convert `Balloon().clearAllPreferences()` to direct access without creating the `Balloon` instance `Balloon.clearAllPreferences()`  as like with [Only](https://github.com/skydoves/Only#clear-data)

[2021-09-15 14:03] skydoves commented on #241
Oh, that's a good point.
You can use like this `BalloonPersistence.getInstance(context).clearAllPreferences()` in the new snapshot version `1.3.8.1-SNAPSHOT`.
If your project uses a design pattern like dependency injection, I recommend providing the instance of the `BalloonPersistence` on you class. Thanks for your feedback and sponsorship! 😄

[2021-09-15 14:14] utkualtas commented on #241
I will consider the DI. Thanks again for the great works! 🙂

[2021-09-15 14:15] #241 closed

[2021-09-17 06:39] orkndev opened #243 "How to show Balloon immediately on Fragment or Activity?"
**Is your feature request related to a problem?**

A clear and concise description of what the problem is.

**Describe the solution you'd like:**

A clear and concise description of what you want to happen.

**Describe alternatives you've considered:**

A clear description of any alternative solutions you've considered.

[2021-09-17 06:47] skydoves commented on #243
You can just show up balloon immediately using the `show___` functions.
Activity: `onCreate`
Fragment: `onViewCreated`

[2021-09-17 06:54] orkndev commented on #243
override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        setContentView(R.layout.activity_main)
        val btn = findViewById<Button>(R.id.btn)
        val locationArray = IntArray(2)
        btn.getLocationOnScreen(locationArray)
        val hint =
                BalloonFactory(
                        btn,
                        "asdadsadasdasdas

[2021-09-17 07:26] orkndev commented on #243
it only works with setOnclickListener withoud doesnt

override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        setContentView(R.layout.activity_main)
        val btn = findViewById<Button>(R.id.btn)
        val balloon = createBalloon(this) {
            setArrowSize(10)
            setWidth(BalloonSizeSpec.WRAP)
            setHeight(65)

[2021-09-17 07:32] skydoves commented on #243
[code]

[2021-09-17 07:49] orkndev commented on #243
thank you for your fast reply, you helped me a lot

[2021-09-17 13:32] #243 closed

[2021-09-22 05:12] skydoves commented on #220
Hi @asker517 @Azazel, sorry for the late reply.
This issue has been fixed on the new release `1.3.7-SNAPSHOT` and this will be included in the next stable.
Thanks for your report. :)

[2021-09-22 06:53] skydoves commented on #222
Sorry for the very late reply.
Here is the new function `showAtCenter` on the new release `1.3.8-SNAPSHOT`. This feature will be included in the next stable release.

[code]

### Specifications:

Shows the balloon over the anchor view (overlap) as the center aligns.
Even if you use with the [ArrowOrientationRules.ALIGN_ANCHOR], the alignment will not be guaranteed.
So if you use the function, use

[2021-09-22 06:53] skydoves commented on #194
Hi @Jilocasin, Sorry for the very late reply.
Here is the new function `showAtCenter` on the new release `1.3.8-SNAPSHOT`. This feature will be included in the next stable release.

[code]

### Specifications:

Shows the balloon over the anchor view (overlap) as the center aligns.
Even if you use with the [ArrowOrientationRules.ALIGN_ANCHOR], the alignment will not be guaranteed.
So if you use the

[2021-09-22 07:02] skydoves commented on #237
Could you check the DialogFragment also occur the same issue?
I think this issue is not related to this library, I guess there is some issue between the internal SDK (PopupWindows) and ArSceneView.

[2021-09-22 07:07] #199 closed

[2021-09-22 07:08] #161 closed

[2021-09-22 08:27] skydoves commented on #222
A new stable `1.3.8` has been released!

[2021-09-22 08:27] skydoves commented on #220
A new stable `1.3.8` has been released!

[2021-09-22 08:27] skydoves commented on #194
A new stable `1.3.8` has been released!

[2021-09-22 11:36] #222 closed

[2021-09-22 11:36] #220 closed

[2021-09-22 11:36] #194 closed

[2021-09-22 12:37] skydoves commented on #107
Very late replay, but here is some updates:
The [Kakao](https://github.com/KakaoCup/Kakao) library actually uses espresso under the hood.
Furthermore, the library does not support extensions for testing `PopupWindow`, so I will consider writing a unit test library for verifying Balloon only. Thanks for your issue :)

[2021-09-22 12:37] #107 closed

[2021-09-22 12:56] skydoves commented on #230
Hi @vkhirani93, sorry for the late reply.
Hmm, that's interesting. There is no clear solution to implement it, but I guess you can implement it manually using the Balloon.
Firstly, you can show up balloon [sequentially](https://github.com/skydoves/balloon#show-sequentially) using `relayShow` methods. So initialize multiple balloons that should be shown on your Activity or Fragment instead of on yo

[2021-09-22 12:56] #230 closed

[2021-09-22 17:59] raquezha commented on #142
This helped me get the view from the menu

[code]

stackoverflow link: https://stackoverflow.com/a/62533513

usage:

[code]

I've used binding to access the toolbar, and passed the id of the menu item

[2021-09-28 16:39] vrsrohit opened #250 "IsStatusBarVisible is not working"
Hey I want the status bar to be invisible when opening the balloon
But the variable you have provided is not working setIsStatusBarVisible(false)
Can you guide me here?
Can I get the window object of the balloon so that I can modify its attributes.

Thanks for the amazing library!

![Screenshot 2021-09-28 at 10 00 54 PM](https://user-images.githubusercontent.com/18658206/135129497-7bb8f2e1-4cfe-44

[2021-10-02 14:45] skydoves commented on #250
Hi @vrsrohit,
The `setIsStatusBarVisible` method is only used to calculate the position of the arrow based on the parent Activity's status bar visibility. It doesn't change the visibility of the Activity's status bar.

[2021-10-02 14:45] #250 closed

[2021-10-03 08:54] skydoves commented on #237
@iAmJuan550
Please reopen this issue if the same problem happens again.

[2021-10-03 08:54] #237 closed

[2021-10-04 18:52] nvasilev0101 opened #258 "Whole balloon is focused when displayed initially"
- Library Version 1.3.9
- Affected Device(s): I've tested it on devices with API 30 only, so Pixels and the Emulator

**Describe the Bug:**

I have implemented your library as a tool for showing mentions. The problem is, that after I show the pop-up, it gains [focus](https://i.imgur.com/LN8zmbj.png) I assume, which [disappears](https://i.imgur.com/rH4uLlA.png) after you touch the pop-up.

This is

[2021-10-06 01:24] skydoves commented on #258
HI @nvasilev0101,
Do you mean the balloon should not be dismissed when you touch the balloon?

[2021-10-06 04:31] nvasilev0101 commented on #258
Hi @skydoves,
I did play around with those options, but the tint is still showing even after setting both options to false.

[2021-10-07 14:19] abhimuktheeswarar commented on #160
Hi, Thanks for this awesome library. Our requirement is:
when clicking on the anchor view, which is highlighted, we need a callback (listener). But when clicking outside, the ballon should dismiss.
Some like this will do:
[code]

[2021-10-07 16:26] abhimuktheeswarar commented on #225
Will there be proper support for this, or should we continue to use the above-mentioned workaround?

[2021-10-08 02:39] zaaach opened #260 "import error"
Library Version [v1.3.9]
Project [java]

can't import com.skydoves.balloon.Balloon;

build error:
import com.skydoves.balloon.Balloon;
                           ^
  ��������ļ�: F:\Android\gradle\caches\transforms-2\files-2.1\87138e7b65e172dd3beca46fa34a43b8\jetified-balloon-1.3.8-api.jar(com/skydoves/balloon/Balloon.class)
    ���ļ����д���İ汾 55.0, ӦΪ 52.0
    ��ɾ�����ļ���ȷ�����ļ�λ����ȷ����·����Ŀ¼

[2021-10-08 06:27] skydoves commented on #260
I guess your project does not use the [Jetifier](https://developer.android.com/studio/command-line/jetifier?hl=ko) or `androidX` options..? And the Gradle version seems too old.

[2021-10-09 01:03] zaaach commented on #260
I upgrade studio version and use gradle version 7.0.2, then it works. Thanks! @skydoves

[2021-10-09 01:03] #260 closed

[2021-10-10 08:45] JoePaul commented on #225
I don't think it should be so hard to implement. I can take a look and se if I could make a PR for it :)

[2021-10-11 15:57] therealsanaullah opened #263 "When I use global variable, it throws this error"
bad class file: /Users/Desktop/.gradle/caches/transforms-3/376dbd433db96436be4745ea83/transformed/jetified-balloon-1.3.9-api.jar(com/skydoves/balloon/Balloon.class)
    class file has wrong version 55.0, should be 52.0
    Please remove or make sure it appears in the correct subdirectory of the classpath.

[2021-10-11 15:59] therealsanaullah opened #264 "When I use global class variable { var balloon: Balloon? = null} , it throws this error, [My Project uses Java 1.8, gradle version 4.1.3/7.2]"
bad class file: /Users/Desktop/.gradle/caches/transforms-3/376dbd433db99e4745ea83/transformed/jetified-balloon-1.3.9-api.jar(com/skydoves/balloon/Balloon.class)
    class file has wrong version 55.0, should be 52.0
    Please remove or make sure it appears in the correct subdirectory of the classpath.

[2021-10-11 16:15] skydoves commented on #264
Looks similar to #260

[2021-10-11 16:16] #263 closed, assigned to nobody

[2021-10-12 09:49] znakeeye opened #265 "setBalloonHighlightAnimation default parameter?"
Using `AGP 7.0.3` and `AS 2020.3.1`.

**build.gradle**
[code]

Using `java` if that matters. I tried adding a highlight animation as shown below. For some reason I got a compilation error. I can see in the method declaration that the second parameter has a default value of `0L`. So why this compilation error?

**Java class**
[code]

[2021-10-12 12:22] skydoves commented on #264
I recommend using Java 11 and could you please build again after clean/sync Gradle?

[2021-10-12 12:35] skydoves commented on #265
Hi, you can resolve it using the below way, however, I will fix it on the next release.
[code]
Thanks!

[2021-10-14 06:20] Azazel commented on #260
Is there a way to keep using this library while still using Java 1.8?
My project is very big and chaning java version is quite a challenge (even updating gradle is not an easy task).

[2021-10-18 12:44] RahulPilot opened #267 "Align to Anchor showAlignTop/showAlignBottom not executing during orientation change"
- Library Version - v1.3.4
- Affected Device- e.g. Redmi note 9 pro max with Android 11.0

The balloon is not respecting showAlignTop/showAlignBottom . This is happening only for the first time during orientation change and not subsequent times.

    balloon = createBalloon(this) {
            setIsVisibleArrow(true)
            setArrowSize(BalloonSizeSpec.WRAP)
            setArrowPosition(0.5f)

[2021-10-26 12:40] gangadharashettypj opened #272 "overlay alignment issue"
- Library Version [e.g. v1.3.8]
- all devices

**Describe the Bug:**

    anchor: View,
    xOff: Int = 0,
    yOff: Int = 0,
    centerAlign: BalloonCenterAlign = BalloonCenterAlign.TOP
  ) {
    val halfAnchorWidth = (anchor.measuredWidth * 0.5f).roundToInt()
    val halfAnchorHeight = (anchor.measuredHeight * 0.5f).roundToInt()
    val halfBalloonWidth = (getMeasuredWidth() * 0.5f).roundToInt()

[2021-10-28 14:39] DarkAbhi opened #273 "Cannot inline bytecode built with JVM target 11 into bytecode that is being built with JVM target 1.8. Please specify proper '-jvm-target' option"
**Please complete the following information:**
- Library Version - 1.3.9
- Affected Device(s) - Asus Zenfone Max Pro M1

**Describe the Bug:**

![image](https://user-images.githubusercontent.com/22658573/139278595-35938b21-f060-4875-96dd-7233c5fdbb71.png)

[code]
Android Studio Version
[code]

[2021-10-28 18:31] arsalanabrar-probo opened #274 "Not able to use lib version 1.3.9 build"
**Please complete the following information:**
- Library Version [e.g. v1.3.9]

**Describe the Bug:**
On Running app showing "class file has wrong version 55.0, should be 52.0"
Can you please explain how to solve this

[2021-10-29 07:19] #274 closed, assigned to nobody

[2021-10-29 07:58] #273 closed, assigned to skydoves

[2021-10-29 07:59] #265 closed, assigned to skydoves

[2021-11-01 05:32] CzarMatt commented on #264
It seems version 1.3.7+ has been compiled against Java 11, is this correct?

I too have a very large project that is still on Java 8, we can't use the latest version of Balloon SDK.

[2021-11-01 05:34] skydoves commented on #264
Hey @CzarMatt, please check the [new version](https://github.com/skydoves/Balloon/releases/tag/1.4.0).

[2021-11-01 05:37] CzarMatt commented on #264
@skydoves  Oh!  🤦   I missed that that was released.  I will check it - thanks so much!  👍

[2021-11-01 08:08] skydoves commented on #264
No problem! If you got the same error in the new version, please let me know :)

[2021-11-01 08:08] #264 closed

[2021-11-08 10:41] nazarabd3005 opened #276 "Error inflating AppCompatImageView"
**Please complete the following information:**
- Library Version 1.3.9
- Affected Device(s) Galaxy A32 with Android 11

**Describe the Bug:**

crash on Binary XML file line #65 in com.forest_interactive.walletcodes.b2c:layout/layout_balloon_library_skydoves: Error inflating class androidx.appcompat.widget.AppCompatImageView

Caused by android.content.res.Resources$NotFoundException

**Expected Beh

[2021-11-09 10:38] lizhming commented on #148
Same height of a custom view problem in Galaxy A9 in 1.3.9

`    implementation "com.github.skydoves:balloon:1.3.9"`

[code]

[code]

[2021-11-13 04:47] skydoves commented on #276
Hey @nazarabd3005 ,
Do you have a custom `layout_balloon_library_skydoves` file in your project?

[2021-11-17 21:10] DevHugo opened #280 "Crash on an null object reference in showAlignBottom (Balloon.java:2557)"
**Please complete the following information:**
- Library Version [e.g. v1.0.0] : 1.4.0
- Affected Device(s) : Not relevant but all manufacturer: Motorola ( moto g(8) power lite, g6, G5S), Samsung (Galaxy S10+,  Galaxy J5 Prime), Xiaomi, Huawei, ... . Android 8 to Android 11.

**Describe the Bug:**

First, I just wanted to say a big thank you for your work.

It not something that happen often like

[2021-11-26 22:38] m1ga opened #281 "Ballon with custom layout: removeView exception"
**Please complete the following information:**
- Library Version: 1.4.0
- Affected Device(s): Pixel 4, Android 12

**Describe the Bug:**

When running the following code with a custom Layout:
[code]

I receive this error when calling it the second time:

[code]

There was am older issue https://github.com/skydoves/Balloon/issues/149 that already fixed some places. This might be another one.

**Exp

[2021-11-28 15:02] skydoves commented on #280
Hey @DevHugo, I'm sorry for replying late.
It's released a new snapshot `1.4.1-SNAPSHOT`, would you please build with this version?
Thanks for reporting this issue!

[2021-11-29 11:33] DevHugo commented on #280
Thanks !

Since we can not reproduce it easily, I just merged the pr with the updated version of the lib. I will keep you inform if it has fixed the issue :)

[2021-12-02 12:46] skydoves commented on #281
Hey @m1ga,
This issue seems also related to #280. Could you try to build with the `1.4.1-SNAPSHOT`?

[2021-12-02 12:47] skydoves commented on #276
Please re-open this issue if you face this issue continuously. :)

[2021-12-02 12:47] #276 closed

[2021-12-02 15:03] m1ga commented on #281
Hi @skydoves. Thanks for the feedback. I've tested the snapshot version and still see the error:
[code]

It is just two lines below the old error

[2021-12-04 08:39] skydoves commented on #281
@m1ga,
Can I get more context of your `customlayout`?
If the `customlayout` has a parent, you can get the issue. And just I was wondering if you could use the XML layout file instead of the inflated layout on the `setLayout` method. Thanks!

[2021-12-04 09:49] m1ga commented on #281
It's a bit more complicated :smile: I'm creating a module for Appcelerator Titanium so you can create your views in XML/JS and show it with the help of your module
https://github.com/m1ga/ti.popover/tree/main/android/src/ti/popover
Relevant files are PopoverProxy (connection between JS and Java) and PopoverView (create native Views).

Inside [PopoverView](https://github.com/m1ga/ti.popover/blob/ma

[2021-12-04 11:40] skydoves commented on #281
Thanks for your very details. 😄
Yes, exactly we should check if the custom view has a parent because the balloon lays the custom view on the internal body layout internally.

If you don't have to maintain the original view hierarchies of the root view, you can achieve like the example below:

[code]

[2021-12-04 11:45] m1ga commented on #281
Ok, that is an embarrassing easy fix :rofl:
Works fine now. Thank you so much for your help :+1:

[2021-12-04 11:45] #281 closed

[2021-12-04 11:56] skydoves commented on #281
That's great to hear that. 😄
Thanks, @m1ga for digging this issue. It'll be handled internally on the next release. 👍

[2021-12-09 13:35] skydoves commented on #272
Hey @gangadharashettypj,
Could you expand on this? `showAtCenter` is not related to the overlay, it adjusts only the location of the balloon.
And it would be easier to analyze this issue if you can provide the code snippets of your builder. 😄

[2021-12-09 14:15] skydoves commented on #280
Hey @DevHugo,
Do you have any news? 😄

[2021-12-14 20:19] TylerMcCraw opened #288 "setShouldPassTouchEventToAnchor doesn't pass touch event to anchor"
**Please complete the following information:**
- Library Version: 1.4.0
- Affected Device(s): Pixel 6 Pro, Android 12

**Describe the Bug:**

When setting `setShouldPassTouchEventToAnchor(true)`, no touch event is passed to the anchor view.
Specifically, within
```private fun passTouchEventToAnchor(anchor: View)```,
the `setOnBalloonOverlayTouchListener` listener is never called
https://github.com

[2021-12-20 15:44] javernaut-hs opened #289 "Proper support of RTL positioning of balloons"
**Is your feature request related to a problem?**

An app I'm developing right now relies on RTL features and the Balloon library doesn't support it properly.

**Describe the solution you'd like:**

I would like methods like Balloon.showAlignStart() and Balloon.showAlignEnd() introduced which would properly position the Balloons and direct the arrow.
Also setting margins, paddings for start/end wi

[2021-12-24 20:32] skywalkerdude opened #290 "Version 1.2.4+ doesn't show balloon on first startup"
**Please complete the following information:**
- Library Version 1.2.4+
- Affected Device(s) All devices AFAIK (tested on API 23 Emulator and API 30 Pixel 5 device)

**Describe the Bug:**

Repository with reproduction of bug: https://github.com/skywalkerdude/TestRepo

1) Create a dummy repo from Android Studio wizard
2) Import [`com.github.skydoves:balloon:1.2.4`](https://github.com/skywalkerdude/

[2021-12-25 05:38] skydoves commented on #290
Hey, could you try the codes below with the Balloon `1.4.1`?

[code]

[2021-12-25 06:29] skywalkerdude commented on #290
That seems to work! Is the right long-term solution, though? To post it in a runnable every time we need to show it? Or is this just a temporary workaround?

[2021-12-25 06:37] skydoves commented on #290
Yes, that's the long-term solution. The balloon should be shown up after inflating the anchor view to calculate the expected position. So if you need to show up the balloon without listeners, it should be used with the `post` method.
On the other hand, if you need to show up the balloon inside of listeners such as `OnClickListener`, you don't need to use the `post` method, because it's already fin

[2021-12-25 06:49] #290 closed

[2021-12-28 13:39] #280 closed

[2022-01-01 14:17] itsnitish22 opened #298 "Top App Bar's Action Item Balloon Shows Inconsistent Color Fill-up On The Items."
**Please complete the following information:**
- Library-Version: v1.4.1
- Affected Device: Realme C1 with Android 9.0

**Describe the Bug:**

Top App Bar has an action item, on which when we click a balloon appears, showing 4 items in it. When we long tap on each item a color fills up showing the touch. But the color fillup is inconsistent in all the items. Refer the attached screenshots for more

[2022-01-01 14:53] itsnitish22 commented on #298
I think this bug is a good first issue and I would like to work on it. It'll be great if I get some guidance.

[2022-01-07 13:25] danielwilson1702 opened #299 "Circular animation balloons can't be shown more than once if set to focusable"
**Please complete the following information:**
- Library Version v1.4.0
- Affected Device(s) Testing on Android 8.1, should affect all

**Describe the Bug:**

Giving a balloon an animation type of circular and setting it to focusable breaks the ability to show a balloon more than once.

I have a balloon which I need to make focusable due to it containing a text field, with a circular animation. Ma

[2022-01-08 07:03] skydoves commented on #298
Hey @itsnitish22!
Sorry for my late response. Would you like to work on this? I'll assign this issue to you if you'd like to resolve this. 😄

[2022-01-08 07:31] #272 closed

[2022-01-08 08:34] itsnitish22 commented on #298
Hi @skydoves
Yes, I would definitely like to work on this issue.
You can assign this to me :)

[2022-01-08 11:43] itsnitish22 commented on #298
Hey @skydoves, I went through the code but wasn't able to find the function where it focuses on the item when it is tapped.
Could you please tell that exactly where can I find it.

[2022-01-08 11:46] skydoves commented on #298
The `android:background="?android:selectableItemBackground"` implements ripple effect on [the item](https://github.com/skydoves/Balloon/blob/main/app/src/main/res/layout/item_custom.xml#L7).

[2022-01-08 13:35] itsnitish22 commented on #298
@skydoves I have created a pull request. You can review it :)

[2022-01-08 15:05] #298 closed

[2022-01-10 13:09] skydoves commented on #208
Hey, @4rthurRousseau
Unfortunately, we don't have any solutions for measuring the exact RecyclerView's height size until now. Also, the inconsistency of the height size of a list depending on its content is not a great UX design, so we might consider this issue again if we get any great solution. Anyway thanks for reporting this issue!

[2022-01-10 13:09] #208 closed

[2022-01-26 09:36] nazarabd3005 commented on #276
Hi @skydoves sorry for late replying , currently still getting the issue with version: 1.3.9
there's no custom layout you mention so iam wondering it is already fixed in latest versions?

[2022-01-26 13:06] skydoves commented on #276
I guess your project does not include the `implementation "androidx.appcompat:appcompat:1.4.0"`?

[2022-01-26 13:57] nazarabd3005 commented on #276
owh so the minimum appCompat version is 1.4.0? because my project still using 1.3.1

[2022-01-27 07:25] ismailrohaga commented on #276
but how about if i have a custom balloon layout? is there anything that i sould consider other than to pass it in `.setLayout` [this](https://github.com/skydoves/Balloon#custom-balloon-layout). because in my view i use ImageView for closing the balloon by getting it from `getContentView`

[2022-01-27 07:57] skydoves commented on #276
@nazarabd3005, @ismailrohaga
I'm wondering does your project includes the code below on your build.gradle file.

[code]

[2022-01-27 11:13] nazarabd3005 commented on #276
@skydoves the code is already include on build.gradle

[2022-01-30 09:45] skydoves commented on #276
You should check out the two things below:
- The balloon dependency is the latest. `1.4.5`.
- Your app's style is under the `Theme.AppCompat`.

[2022-02-10 17:07] bulbigood commented on #191
Faced this issue with ConstraintLayout, version 1.4.1. Wrap constraint doesn't work correctly.

[2022-02-17 11:49] G00fY2 opened #307 "1.4.2 module contains AgpVersionAttr and causes build failures"
**Please complete the following information:**
- Library Version 1.4.2

**Describe the Bug:**

Seems like you updated to AGP 7.1 but did not update Kotlin to contain the fix about [AgpVersionAttr](https://youtrack.jetbrains.com/issue/KT-49798) ([1.5.32](https://github.com/JetBrains/kotlin/releases/tag/v1.5.32) or [1.6.10](https://github.com/JetBrains/kotlin/releases/tag/v1.6.10)). Because of that

[2022-02-17 12:37] skydoves commented on #307
Hi @G00fY2!
Thanks for reporting this and great description!
I just released `1.4.3-SNAPSHOT` on the maven with Kotlin `1.5.32`. Please check it work on your project and let me know if the same issue happens. Thanks!

[2022-02-17 13:09] skydoves commented on #307
@G00fY2 Thank you for checking this!
They will be included in the next stable release. 🎉

[2022-02-24 18:14] Morrodin opened #309 "Tooltip not showing on MenuItem"
**Please complete the following information:**
- Library Version: 1.4.2
- Affected Device(s): Pixel 3A API 28 (emulator), Pixel 4 API 26 (emulator), One Plus 8 Pro Android 11

**Describe the Bug:**

I'm attempting to show a tooltip anchored to one of my options menu items, however nothing is showing up. I have seen the prior issue opened on this subject (https://github.com/skydoves/Balloon/issues/

[2022-03-03 03:07] Morrodin commented on #309
Hello,

I have tried that--specifying an actionLayout/actionView, and getting a reference to it. I verified in debug that I seemed to have a true reference to the menu item and the actionView, but unfortunately the tooltip still didn't show.

[2022-03-03 14:32] skydoves commented on #309
Just my curiosity, have you ever tried adding the menu view dynamically as the [setActionView](https://developer.android.com/reference/android/view/MenuItem.html#setActionView(android.view.View))?

[code]

In the case, we know the explicit inflated view as an instance.

[2022-03-08 09:05] traiyani opened #310 "balloon display issue"
**Please complete the following information:**
- Library Version 1.4.2
- Affected Device(s) One plus 6T

**Describe the Bug:**

![image](https://user-images.githubusercontent.com/8299117/157203889-4c81d904-4c38-4945-9e47-d762083c40f6.png)

**Expected Behavior:**

not getting valid balloon arrow position in arabic layout

[2022-03-09 18:54] Morrodin commented on #309
I fixed it! For some reason my balloon would show on every other view using `balloon.showAlignBottom(balloon)` etc. However, for it to show on the menu item, I have to use the `view.showAlignBottom(balloon)`.

For that case, grabbing the action view as described in issue #142 , and as you suggested in you first response work just fine.

Thanks so much for your efforts.

[2022-03-09 18:54] #309 closed

[2022-03-14 15:03] okarakose commented on #307
Is there any release date for new version for this fix? @skydoves

[2022-03-26 07:52] skydoves commented on #289
#316

[2022-03-26 08:09] skydoves commented on #289
#317

[2022-03-26 08:23] skydoves commented on #307
Hi everyone, the new version **1.4.3** has been released.
Please check out the new version. Thanks!

[2022-03-26 08:23] #307 closed

[2022-03-26 08:29] skydoves commented on #289
Hi @javernaut-hs, the new **1.4.3** version has been released.
The RTL layout mode will be enabled by default. Please try the code below:

[code]
Thanks!

[2022-03-26 08:29] #289 closed

[2022-03-28 11:11] G00fY2 opened #318 "Bad maven deployment after updating publish-plugin"
Hi,

with the release of 1.4.3 the deployment on maven central is somewhat "broken" and e.g. our dependency update plugin does not recognise the latest version.

You uploaded variant specific artifacts **balloon-1.4.3-debug.aar** & **balloon-1.4.3-release.aar** instead of **balloon-1.4.2.aar**.

This is probably because you updated the gradle-maven-publish-plugin to [0.19.0](https://github.com/van

[2022-04-03 08:30] skydoves commented on #310
Hi @traiyani, sorry for the late response.
Could you expand on this? It would be helpful to analyze this issue if you could attach your `Balloon.Builder`.
Thanks!

[2022-04-03 08:41] skydoves commented on #318
Hi @G00fY2, this issue will be fixed in the next release and you can use earlier snapshot builds.
Thank for reporting this!

[2022-04-03 08:41] #318 closed

[2022-04-08 09:47] amberkira opened #322 "why your aar require the mincompileSdkVersion 31？？？？？？？？"
**Please complete the following information:**
- Library Version [e.g. v1.0.0]
- Affected Device(s) [e.g. Samsung Galaxy s10 with Android 9.0]

**Describe the Bug:**

Add a clear description about the problem.

**Expected Behavior:**

A clear description of what you expected to happen.

[2022-04-08 10:05] skydoves commented on #322
Hi, which version do you use?
The [current min SDK version](https://github.com/skydoves/Balloon/blob/main/buildSrc/src/main/kotlin/com/github/skydoves/balloon/Configuration.kt#L22) is 17.

[2022-04-08 10:07] skydoves commented on #322
Please check out your current Compile SDK version is 31 and the corresponding Gradle version.

[2022-04-08 10:09] #322 closed

[2022-04-08 10:31] amberkira commented on #322
this is my config
compileSdk 30
buildToolsVersion "30.0.3"

which is available when I compile your lib 1.2.3. but when I upgrade it to 1.4.4 then the ide tells me aar need minCompileSDKVersion 31

[2022-04-08 10:31] amberkira commented on #322
gradleVersion:4.1.3

[2022-04-11 07:40] ultrah commented on #288
I can reproduce, looks like the listener is never called.

I found a workaround by attaching a touch listener to `bodyWindow`:

[code]

[2022-04-13 07:18] walaankit opened #323 "Overlay shape with Rounded Rectangle for which radius can be specified for all the 4 sides"
**Is your feature request related to a problem?**
Yes
 I want to show an overlay which doesnt have same round radius on all the 4 corners,
The current RoundRect doesnt allow the same.

**Describe the solution you'd like:**
A rounded Rect with radius args for tob, bottom, left and right

**Describe alternatives you've considered:**

[2022-04-13 09:42] skydoves commented on #323
Hey @walaankit,
Unfortunately, the Android supports only drawing the round-rect based on `rx` and `ry` properties.
For now, we can change the `rx` and `ry` by giving properties on the `BalloonOverlayRoundRect`.

[code]
If I find any solutions for this, I'll re-open this issue. Thanks!

[2022-04-13 09:42] #323 closed

[2022-04-13 09:43] skydoves commented on #310
Please re-open this issue again if you reproduce this issue again.

[2022-04-13 09:43] #310 closed

[2022-04-25 16:30] SaltedFish999 opened #326 "Can I use Balloon for some popupwindow or dialog functionality?"

[2022-04-25 23:02] skydoves commented on #326
Hi @SaltedFish999,
Yes, you can access the `bodyWindow` as the below:

[code]

public val bodyWindow: PopupWindow

[2022-04-26 04:11] SaltedFish999 commented on #326
Thank you so much

Thank you so much, this helped me a lot.

[2022-04-26 04:11] #326 closed

[2022-04-30 02:56] skydoves commented on #299
Hey @danielwilson1702, sorry for the delayed response.
The circular reveal animation uses `ViewAnimationUtils` internally and it seems to happen a bug if the animation run with the `PopupWindow`. So Balloon set focusable as `false` if you apply the circular animation to the `Balloon.Builder` - https://github.com/skydoves/Balloon/blob/main/balloon/src/main/kotlin/com/skydoves/balloon/Balloon.kt#L24

[2022-04-30 02:56] #299 closed

[2022-05-04 20:00] gonzalomonzon02 opened #331 "Bug setWidth(BalloonSizeSpec.WRAP) v 1.4.5"
- Library Version 1.4.5
- Affected Device(s) All devices

I have a custom view that I use with balloon, the width WRAP not working correctly. I am displaying the view in a item from tabLayout.
I tried using the container linearLayout, relativeLayout and constraintLayout but I can't get it to fit the content. The width of the textView are dynamic.
The only way for the width to change is by setting

[2022-05-04 22:55] skydoves commented on #331
Hi, when you use a `TextView`, which includes the compound drawable in your custom layout, you should use `VectorTextView` instead as below:

[code]

[2022-05-05 10:04] WXSoftware commented on #331
Same here. I tried with VectorTextView but doesn't work. Height and Width have the same behavior.
Any idea?

[2022-05-05 10:07] skydoves commented on #331
Hey, the best idea is just to split them up with the `ImageView` and `TextView` to let the Android SDK measure the exact size of the TextView. I guess measuring the width size of the TextView, which includes compound drawable is not handled by Android SDK.

[2022-05-05 10:22] WXSoftware commented on #331
Is exactly how I have the xml view. The problem is in the height or width of the parent layout. WrapContent does not work. You must set an exact dimension and it works.

[2022-05-05 10:27] skydoves commented on #331
I see. Setting a `android:maxWidth="130dp"` for each `TextView` is another solution.

[2022-05-05 10:53] AlbertoSaezVela commented on #331
Set dynamic height is required to reuse the code for custom layout configuration.

[2022-05-05 11:21] skydoves commented on #331
But I'm not sure what makes the wrong behaves.
I just built with the [demo project](https://github.com/skydoves/Balloon/tree/main/app) and as you can see from the result below, it works fine for me:

<img width="33%" src="https://user-images.githubusercontent.com/24237865/166913065-e1597222-0622-47ea-85cd-2d4e497b0ab4.jpeg" />

**Factory**:
[code]

**XML**:
[code]

[2022-05-05 11:26] AlbertoSaezVela commented on #331
Could you try it with a ConstraintLayout instead a Linear, please?

[2022-05-05 11:35] skydoves commented on #331
Measuring is not related to the parent layout. And as you can see, it's the same result as the below:

<img src="https://user-images.githubusercontent.com/24237865/166915067-1f7937a7-a4c1-44b9-b2e4-66919415a974.png" width="33%" />

**XML**:

[code]

[2022-05-05 11:57] AlbertoSaezVela commented on #331
Thank you. I could make it work with a LinearLayout but I couldn't with a ConstraintLayout.

[2022-05-05 13:31] #331 closed

[2022-05-06 07:09] Maxwell6635 opened #332 "After Migrate Library to Latest Version 1.4.5 , Ballon is not showing"
**Please complete the following information:**
Previous Library Version : 1.3.4
Library Version : 1.4.5
Affected Device(s) : Sony Xperia XZ Premium G8142 with Android 9

**Describe the Bug:**
After creation ballon, and using showAtCenter function , the tooltips wasnt show at specific anchor.

Code Implementation :

[code]

**Expected Behavior:**
The tooltips should show above or top of the view.

[2022-05-17 03:29] skydoves commented on #332
Hi, you can display the balloon before inflating your views.
Try the codes below:

[code]

or

[code]

[2022-05-19 13:16] chintanrparmar commented on #332
val balloon = Balloon.Builder(this)
                .setLayout(R.layout.custom_profile_tooltip)
//                .setAutoDismissDuration(10000L)
                .setArrowOrientation(ArrowOrientation.BOTTOM)
                .setBackgroundColor(ContextCompat.getColor(this, R.color.tooltip_bg))
                .setBalloonAnimation(BalloonAnimation.FADE)
                .setDismissWhenTouchOutside(fa

[2022-05-19 13:19] skydoves commented on #332
Hi @chintanrparmar, please try to change to `showAlignTop` with the below:

[code]

Or use the `post` function as I mentioned above.
Thanks.

[2022-05-22 10:08] chaimgross opened #335 "Suggestion - Dismiss all shown balloons"
Would be nice to be able to dismiss all displayed balloons without needing to keep references to each one

[2022-05-23 23:43] skydoves commented on #332
Hey all, please re-open this issue if you face it again. Thanks!

[2022-05-23 23:43] #332 closed

[2022-05-23 23:46] skydoves commented on #335
If you want to dismiss balloons following the `onDestroy` lifecycle, you can use the `setLifecycleOwner`. But if you want to dismiss at a specific point, unfortunately, it's not possible in the Android system. Thanks!

[2022-05-23 23:46] #335 closed

[2022-06-03 12:24] ozaneb opened #337 "DismissWhenLifecycleOnPause causes sequential balloon to show up when the life cycle owner is paused."
**Please complete the following information:**
- Library Version : 1.4.5
- Affected Device(s) Samsung Galaxy S10 Lite Android 12 and all the other devices i tested with

**Describe the Bug:**

This bug happens when there are balloons that should show up sequentially and `dissmissWhenLifecycleOnPause` is set to `true` for each of them.  The next balloon shows up when the current balloon is dismisse

[2022-06-14 14:22] ozaneb opened #339 "Setting a time out to show a balloon again"
I think it would be useful to set a time out, after which the balloon can be shown again. For example in my case, I want to show a balloon 3 times in total, but I want to show the next one after 1 hour has passed and so on.

[2022-06-15 02:28] skydoves commented on #339
Hi @ozaneb, thanks for suggesting this issue.
Unfortunately, I don't have any plans for supporting time-relevant features for now.
But I'm considering adding a similar feature to [Only](https://github.com/skydoves/only) in the future. Thanks!

[2022-06-15 02:28] #339 closed

[2022-06-15 14:35] mutual-arildo opened #340 "Create balloon without highlight keeping overlay"
**Is your feature request related to a problem?**

I need to be able to create a balloon on a photo (entire screen) not highlighting anything and keeping the overlay. It's like creating a balloon for a specific point (x, y) on the screen, thus no need for highlight because it's related to the entire photo and not to a specific view, like a button.

**Describe the solution you'd like:**

Be able to

[2022-06-17 16:29] mutual-arildo opened #341 "App crash - OutOfMemoryError"
**Please complete the following information:**
- Library Version: v1.4.5
- Affected Device(s): Samsung devices with Android 12

**Describe the Bug:**

It seems to be crashing in the inner code of the library when showing the balloon.

``

java.lang.reflect.Constructor.newInstance0 (Constructor.java)
java.lang.reflect.Constructor.newInstance (Constructor.java:343)
android.view.LayoutInflater.create

[2022-06-20 13:06] skydoves commented on #341
Hi, can you share the custom XML layout and the implementation of the builder class?

[2022-06-27 20:06] mutual-arildo commented on #341
@skydoves please check following:
[code]

[2022-06-29 14:44] skydoves commented on #341
As your report, the OutOfMemoryError occurred during inflating the body view of the balloon.
I guess you're using kind of huge memory resource in your XML layouts such as image, font, or something.
I would recommend building your project without any heavy resources that I mentioned above.

[2022-06-30 07:35] skydoves commented on #340
Since version `1.4.6`, you can use the `BalloonOverlayEmpty` for preventing drawing highlights on the overview.

[code]

[2022-06-30 07:35] #340 closed

[2022-07-07 14:21] gercee opened #347 "Add possibility to change overlay window gravity"
**Is your feature request related to a problem?**
Yes

The overlay window gravity is always centered, and we do have a need to have it positioned at the top.

**Describe the solution you'd like:**

We did local testing by adding the parameter into the builder and using the current gravity `Gravity.CENTER` as default and introduced another setter to be able to change it. And this doesn't break the

[2022-07-07 18:22] massivemadness opened #348 "Separate animations for show and dismiss"
Provide different animations for show and dismiss. As example, I would like to use `BalloonAnimation.OVERSHOOT` animation when the balloon is showing up, but I want to use `BalloonAnimation.FADE` animation when the user dismisses it

**Describe the solution you'd like:**

[code]

[2022-07-16 02:53] skydoves commented on #341
For now, I will close this issue. Please re-open this issue if you keep facing the same issue. Thanks!

[2022-07-16 02:53] #341 closed

[2022-07-16 03:06] skydoves commented on #348
Hey @massivemadness, sorry for the late response.
For now, you can achieve this by adding your custom animation like the below:

[code]

[code]

But let me consider if there's a great way to achieve what you've proposed.
Thanks!

[2022-07-16 03:06] #348 closed

[2022-07-16 03:36] skydoves commented on #267
Hey @RahulPilot, sorry for the late response.
In this case, you must achieve this with the `savedInstanceState` as seen in the below:

[code]

If you keep facing this issue, feel free to re-open this issue. Thanks!

[2022-07-16 03:36] #267 closed

[2022-07-16 04:03] skydoves commented on #288
Hi, in this case, you should use the `setDismissWhenTouchOutside` method like the below:

[code]

If you keep facing the same issue, feel free to re-open this issue. Thanks!

[2022-07-16 04:03] #288 closed

[2022-07-16 04:17] skydoves commented on #258
Hey @nvasilev0101, sorry for the late response.
Did you solve this issue? Also, I recommend using the recent version `1.4.5`. Thanks!

[2022-07-16 04:33] skydoves commented on #347
Hey @gercee, thank you for reporting and suggesting this issue.
It's available on version `1.4.7-SNAPSHOT`, and this will be shipped in the next release. Thanks!

[2022-07-19 10:36] magneticchen commented on #258
Hello. I've updated to `1.4.5`. However, the problem still exists. Here is the footage of it.

![image](https://user-images.githubusercontent.com/22817012/179730742-686414bf-d1b8-4fa4-82a1-330716e47481.png)

The balloon is focused when in the dpad mode.

[2022-08-04 13:47] ozaneb opened #354 "App crash on devices with Android version less than 23"
**Please complete the following information:**
- Library Version 1.4.6
- Affected Device(s) emulator device with Android 5.1

**Describe the Bug:**

Following crash occurs while trying to show balloon on devices with Android sdk version 22 and older.

[code]

Apparently, `View.setForeground` method added in api level 23 (https://developer.android.com/reference/android/view/View#setForeground(andro

[2022-08-04 15:19] ozaneb commented on #354
Hello @skydoves, I am using latest stable version `1.4.2`. Upon your suggestion, I tried again using app compat `1.5.0-rc1`, nevertheless the same crash happened.

[2022-08-04 15:34] skydoves commented on #354
Could you try again with `1.4.6`? The recent version doesn't use the `AppCompatImage` internally.

[2022-08-04 15:48] skydoves commented on #354
Hey @ozaneb, could you try to build with the new snapshot version below?

To import snapshot versions on your project, add the code snippet below on your gradle file.

[code]

Next, add the below dependency to your module's build.gradle file.

[code]

[2022-08-04 16:16] ozaneb commented on #354
Unfortunately, it is the same.

[2022-08-06 05:23] skydoves commented on #354
Hey @ozaneb,
Could you build again with the `1.4.7-20220805.140825-9` snapshot version? Thanks!

[2022-08-06 09:33] ozaneb commented on #354
Hey, now it works properly, thanks!

[2022-08-06 09:40] skydoves commented on #347
This has been released in version `1.4.7`.

[2022-08-06 09:40] #347 closed

[2022-08-06 09:41] skydoves commented on #354
@ozaneb This has been released in version `1.4.7`. Thanks for reporting this issue!

[2022-08-06 09:41] #354 closed

[2022-08-09 17:48] chaimgross opened #357 "Show multiple views in overlay"
Would be nice to be able to show overlay over a few views at a time, I tried showing two separate balloons with showoverlay true but each overlay covers the other view

[2022-08-10 06:06] skydoves commented on #357
Hey @chaimgross,
You can set multiple anchors like this: https://github.com/skydoves/Balloon/blob/main/balloon/src/main/kotlin/com/skydoves/balloon/Balloon.kt#L1117

[2022-08-10 06:06] #357 closed

[2022-08-10 06:07] skydoves commented on #357
[code]

[2022-08-10 09:02] chaimgross commented on #357
God bless you

[2022-08-10 09:06] chaimgross commented on #357
What about with relay?

[2022-08-18 07:49] vinhtq98 opened #358 "Duplicate class found"
when i do import the library there is error Duplicate class androidx.lifecycle.ViewModelLazy found in modules lifecycle-viewmodel-2.5.0-runtime (androidx.lifecycle:lifecycle-viewmodel:2.5.0) and lifecycle-viewmodel-ktx- 2.3.1-runtime (androidx.lifecycle:lifecycle-viewmodel-ktx:2.3.1). HOW TO FIX IT?

[2022-08-18 08:07] #358 closed

[2022-08-25 13:00] vitali58AC opened #359 "Wrong arrow position on small balloons."
**Following information:**
- Library Version [v1.4.7]
- Affected Device(s): All, including  Samsung Galaxy Note 10+ with Android 12.0.

**Describe the Bug:**

Hello, I ran into a problem when positioning the position of the arrow on small balloons, if specified:
[code]
By setting **setArrowAlignAnchorPaddingRatio** you can adjust the correct position for a particular case, but the problem is that

[2022-08-26 12:28] sidsharma2002 opened #360 "Use Modifier Pattern"
**Current Problem:**
  I want to set a balloon properties to a fragment's (say fragX) argument and show a balloon with that properties from fragX  Fragment only (to make things dynamic).
 The problem is right now I can't do so because properties like widthRatio margin etc are only set to Balloon's Builder with requires a context `Ballon.Builder(context).setMargin().setWidthRatio()`

**Suggested So

[2022-08-28 01:59] skydoves commented on #360
Hey @sidsharma2002, thanks for the nice suggestion!

At first glance, this encapsulating pattern is a massive overkill to achieve small things.
Most of Balloon's properties can't be parceled such as lifecycle, drawable, lambda function relevant things.
The reason Balloon requires `Context` is most of the resource properties (color, margin, paddings, shadows, drawable) can come from the Android res

[2022-08-28 06:06] sidsharma2002 commented on #360
Exactly, sounds just right! (yes we won't be able to parcel the click/dismiss listeners)

And as I'll just add one more setter method to the Builder this will maintain backwards compatibility too.
`Ballon.Builder(context).setColor().setBlahBlah...setModifier(balloonModifier).build()` (this ballonModifier would be a data class)

Let me know if there's some potential issues that can come with this c

[2022-08-30 08:57] dharamveer-appyhigh commented on #4
[SampleViewHolder](https://github.com/skydoves/Balloon/blob/master/app/src/main/java/com/skydoves/balloondemo/recycler/SampleViewHolder.kt) is not accessible.

[2022-08-30 12:46] skydoves commented on #359
Hey @vitali58AC,
I'm just wondering if there's a use case, such as a small balloon with an arrow that should be located at the end of the body.

[2022-08-30 12:56] vitali58AC commented on #359
Hello @skydoves , in the screenshot, I expect the position of the arrow in the center, and if you add content (for example, 1 more icon with a number), then the arrow will be located correctly, exactly on the anchorView. In total, this balloon can have 5 elements (screenshot) and in this case, yes, the arrow will be located closer to the end. Thank you very much for your response!
<img src="https:

[2022-08-31 03:06] LMituiti opened #361 "Error building the project after adding lib dependency"
**Please complete the following information:**
- Library Version 1.4.7 (also tested with 1.4.5 and 1.4.6)
- Affected Device(s): None since I can't even build the project

**Describe the Bug:**

I can't build my project after adding the lib to the dependencies.

Here are some info about my project:
Android Gradle Plugin Version 4.0.2
Gradle Version 6.8
compileSdkVersion 31
minSdkVersion 23
targetSd

[2022-08-31 06:39] skydoves commented on #361
Hey, make sure your AGP version is `7.1.2` and the Gradle version is `7.4.2`, probably the compile SDK must be 32 at least. This is not a library issue, so I will close this for now.

[2022-08-31 06:39] #361 closed

[2022-08-31 06:52] skydoves commented on #359
Hey @vitali58AC, I think this is a very tricky problem because it also depends on the corner radius of the body. I would recommend changing the position of the arrow following the size of your items for now. Let me think about any solutions, such as giving padding values to the arrow. Thanks for filing this!

[2022-09-06 10:09] MariaGiannaki opened #362 "Arrow orientation top position not working with custom layout"
**Please complete the following information:**
- Library Version [v 1.4.7]
- Affected Device(s) All tested devices with Android 11

**Describe the Bug:**

setArrowOrientation(ArrowOrientation.TOP) doesn't change the arrow's position to the top of the balloon and the arrow shows at the bottom.
All the other orientations seem to be working as expected.

**Expected Behavior:**

setArrowOrientation(Ar

[2022-09-06 12:10] skydoves commented on #362
Hey, could you share your `Balloon.Builder` codes? Also, which method do you use for showing the balloon?

[2022-09-06 13:26] skydoves commented on #362
Hey, could you build again after removing the `setArrowAlignAnchorPadding` method?

[2022-09-06 14:10] MariaGiannaki commented on #362
I removed the method but the arrow still shows at the bottom.

[2022-09-07 10:10] GC-Xi opened #363 "Arrow unable to reach the edge with ArrowPositionRules.ALIGN_ANCHOR"
**Please complete the following information:**
- Library Version [e.g. v1.4.7]
- Affected Device(s) [OnePlus 6T with Android 11, OnePlus 8T with Android 12]

**Describe the Bug:**
Issue 1
When using ArrowPositionRules.ALIGN_ANCHOR, the arrow cannot get close to the edge of the ballon with `setArrowPosition(1f)` or `setArrowPosition(0f)`.

Issue 2
When using ArrowPositionRules.ALIGN_ANCHOR, the lef

[2022-09-07 10:37] skydoves commented on #363
Hey, this is expected behavior. You shouldn't use the `ArrowPositionRules` and set the arrow position explicitly, such as `setArrowPosition`. The `setArrowPosition` method fixes arrow position as a constant, and it's the highest criterion to decide arrow position.

[2022-09-07 13:34] GC-Xi commented on #363
Hi @skydoves ,

Actually, it has been working nicely expect it being on the edge.

https://user-images.githubusercontent.com/34244941/188890675-8bde8e24-6cf7-4eb2-b3dc-1e74d6abf5ba.mp4

If you look at the video, the arrow points to the exact location except when it gets to the very edge where the arrow won't travel anymore.

In this case, I used the bottom RecyclerView as the anchor and used `setA

[2022-09-07 14:21] djoled97 commented on #258
@magneticchen  Did you manage to solve this issue? I seem to be having the same problem where my  balloon has that shadow like in your image?

[2022-09-07 15:18] magneticchen commented on #258
Nope. It is still there.

[2022-09-07 16:48] djoled97 commented on #258
Does it show always like that for you or sometimes it's ok?

[2022-09-07 19:06] magneticchen commented on #258
It only happens when dpad mode is on. (Not in touch mode)

[2022-09-16 06:17] kushaldhengole opened #364 "Animation is not working in Android 11 lib latest version on Redmi 11 pro"
**Please complete the following information:**
- Library Version [e.g. v1.0.0]
- Affected Device(s) [e.g. Samsung Galaxy s10 with Android 9.0]

**Describe the Bug:**

Add a clear description about the problem.

**Expected Behavior:**

A clear description of what you expected to happen.

[2022-09-16 06:46] kushaldhengole commented on #364
Balloon animation is not working for Redmi Note Pro 11

[2022-09-16 06:51] skydoves commented on #364
Hi, could you elaborate on which animation is not working? Thanks!

[2022-09-16 07:51] kushaldhengole commented on #364
thank for responses .
BalloonAnimation's All Animation  are not working
this below line is added but it not giving animation
  .setBalloonAnimation(BalloonAnimation.ELASTIC)

[2022-09-16 07:53] kushaldhengole commented on #364
code working in other device with  android 11 . But in  Redmi Note pro+ 5G  with android 11 it's not working

[2022-09-17 14:21] skydoves commented on #364
I'm not really sure this issue is related to the library, because all of the animations are based on Android systems. Could you please check device's animation setup is normal in the developer options?

![Screen Shot 2022-09-17 at 11 21 03 PM](https://user-images.githubusercontent.com/24237865/190861830-e9067f27-866e-44c9-8c5f-08fe80082005.png)

[2022-09-19 10:58] ozaneb opened #365 "Initialize arrow crashes while trying to get the color from the balloon"
**Please complete the following information:**
- Library Version: 1.4.5

<img width="1378" alt="image" src="https://user-images.githubusercontent.com/17740560/191002279-7b7ffb9e-dbd2-4d64-a638-43590244fa4d.png">

Hello @skydoves, our app with Balloon version 1.4.5 suffers from a crash that occurs when the app is in background. I could not reproduce the error,  do you have any idea why would this h

[2022-09-19 13:14] kushaldhengole commented on #364
Thank you  for information .
issue is with device setting and it resolved  now

[2022-09-19 13:14] #364 closed

[2022-09-19 20:04] ozaneb commented on #365
I will try setting the arrow color manually instead of matching the balloon color. I will keep you posted.

[2022-09-21 07:53] ozaneb commented on #365
related, but a different crash.

<img width="1424" alt="image" src="https://user-images.githubusercontent.com/17740560/191447235-eb10d6bd-dac4-4af4-ac1f-0acbd214b9ec.png">

[2022-09-22 10:07] Arm63 opened #366 "android.view.WindowManager$BadTokenException: Unable to add window -- token android.view.ViewRootImpl$W@8722970 is not valid; is your activity running?"
**Please complete the following information:**
- Library Version [1.4.7]
- Affected Device(s) [All]

**Describe the Bug:**

Open PopupWindow (My)
Make it child view anchor for Balloon
And show balloon

**Expected Behavior:**

"Balloon pop up" must be shown, but application crashed
-------------------------------------------------------------
`android.view.WindowManager$BadTokenException: Unable to

[2022-09-22 13:22] Arm63 commented on #366
P.S and it's all because of this setter "balloon.setVisibleOverlay(true)" after setting "false" it works(without crash), but already there is no overlay

[2022-09-23 02:32] skydoves commented on #365
Hey @ozaneb, thank you for reporting this issue. I'm wondering if you use the `arrowColorMatchBalloon` attribute to build your balloon.

[2022-09-23 07:25] ozaneb commented on #365
Hi, yes I was using as `setArrowColorMatchBalloon(true)`.

[2022-09-23 10:49] skydoves commented on #366
Hey @Arm63, this issue could be caused by a lot of reasons. I'd get more information below:

- Make sure you're using the `setLifecycleOwner` method and pass the correct context (Activity's context, not from Fragment or View).
- Make sure you call `show_` methods after inflating with the `post` method. (`view.post { balloon.showXX() }`) or inside of any click listeners.

[2022-09-23 11:23] Arm63 commented on #366
I'll create simple sample project with this issue and show you

[2022-09-23 11:24] skydoves commented on #366
Thank you!

[2022-09-23 12:23] skydoves commented on #365
Hi @ozaneb, can I see your `Balloon.Builder` class? Thanks!

[2022-09-23 20:10] Arm63 commented on #366
https://github.com/Arm63/Balloon_Issue

[2022-09-24 22:14] ozaneb commented on #365
the relevant part was like this

[code]
    val builder = Balloon.Builder(context)
        .setWidth(BalloonSizeSpec.WRAP)
        .setMinWidth(216)
        .setMaxWidth(300)
        .setHeight(BalloonSizeSpec.WRAP)
        .setBackgroundColor(resources.getColor(R.color.white_a90))
        .setArrowPositionRules(ArrowPositionRules.ALIGN_ANCHOR)
        .setArrowSize(10)
        .setArrowPosition(0

[2022-09-25 10:03] skydoves commented on #366
You're using your own `PopupWindow` and this is a very tricky problem. You must check the `popupWindow` is correctly showing and attached to the current window properly. For checking this, the balloon uses a validation method [canShowBalloonWindow](https://github.com/skydoves/Balloon/blob/main/balloon/src/main/kotlin/com/skydoves/balloon/Balloon.kt#L775). Maybe you need to check your own `PopupWin

[2022-09-25 10:05] skydoves commented on #366
The WindowManager relevant issues for Balloon were already fixed in the past versions, you can also reference for building your own `PopupWindow` with the past issues below:
https://github.com/skydoves/Balloon/issues?q=WindowManager

[2022-09-25 10:26] Arm63 commented on #366
I have already checked this 2 (issue about WindowManager and canShowBalloonWindow), but can't find something to help me.
P.S And I tried to open PopupWindow above of PopupWindows child and it happened without "bad token crash"

[2022-10-04 04:38] skydoves commented on #258
Hey guys, I'm wondering if you face still the same issue if you request focus to your anchor view after showing the balloon like the below:

[code]

Thanks!

[2022-10-05 08:43] magneticchen commented on #258
Yes. The issue is still happening. :/

[2022-10-05 09:17] Stan-K0 opened #370 "Custom view + elevation = layout size bug"
- Library Version: 1.4.3
- Affected Device(s): any

Library calculates the size of wrapper Balloon incorrectly if use custom view and elevation has been set.
At least this is true for the width but I'm pretty sure the same is true for height.
In my case the width of the custom view is fixed and its 180dps and I've set balloon elevation to 4dps. So if I set balloon width to 180dps then a right side

[2022-10-12 19:33] sedaAytekinVektor opened #371 "Arrow elevation not working"
Hello,
i set the elevation custom layout, but elevation is not working in arrow

[2022-10-13 07:29] skydoves commented on #371
Duplicated with #201

[2022-10-13 23:35] #371 closed

[2022-10-14 20:13] Arm63 commented on #366
I pushed 2 commits [https://github.com/Arm63/Balloon_Issue](url)
One of them is that state when I want to show balloon above of pop up windows child view (this works with crash even then child view of popupwindow is attached to window)
And second is when I show pop up window above pop up window

[2022-10-17 07:37] Arm63 commented on #366
Even if the library works with "popUpWindow" without "setVisibleOverlay(true)", on API levels 24 and 25 it doesn't work at all.

[2022-10-17 15:09] MandeepDaffo opened #372 "Height of ballon is not calculated properly"
. Library Version : 1.4.5
. Affected Device(s) : All

Describe the Bug:

<img width="402" alt="Buttons are clipped at end" src="https://user-images.githubusercontent.com/72556520/196214372-9325a6e2-633b-4693-af31-8c7c864761ba.png">

When we are using a custom layout as view of dialog and in the custom designed layout if two items are constrained horizontally i.e one is textview and that is aligned

[2022-10-17 15:11] MandeepDaffo commented on #372
@skydoves Does the library support multi language text while calculating height?

[2022-10-18 04:02] skydoves commented on #372
@MandeepDaffo hey, could you expand on what is the multiple language supports? Do you mean, if the issue occurs if you change the language on the device settings?

[2022-10-18 07:13] MandeepDaffo commented on #372
Yes, change in language from the device settings.
I am using constraint layout for designing this. This happens more in Samsung S21, moto g4, oneplus etc

[2022-10-19 05:16] skydoves commented on #372
@MandeepDaffo Thanks for the details.
This is a very interesting use case. I think the measured size of the balloon must be changed by calling the `update` method when the language setting has been changed.

I'm curious to know if it works well when you call the `balloon.update(anchor)` method on the `OnResume()`.

[2022-10-19 05:51] MandeepDaffo commented on #372
@skydoves In some devices I face this issue on fresh show of ballon means device language has been already setup and then app is launched and then on button click ballon is shown. Could this be due to nested constraint layout also?

[2022-10-19 05:54] skydoves commented on #372
@MandeepDaffo That makes sense. Could you build with a single constraint layout?
But I'm guessing the measuring text that provided by Android SDK does not work well in different languages. 🤔

[2022-10-19 15:08] saulmm2 opened #373 "`VectorTextView`'s `balloon_drawableTintColor` using the resource id instead a color int."
**Please complete the following information:**
- Library Version 1.4.7

**Describe the Bug:**

When using a layout file for inflating a balloon, which contains a `VectorTextView` specifying the tint color of the icon as:

[code]

[code]

The actual color used is not the color int, but the resource id. Resulting in an icon wrongly tinted.

<img width="78" alt="image" src="https://user-images.github

[2022-10-20 06:56] debdutsahasharechat commented on #160
This issue should be opened again as this is not full filling our requirement.

[2022-10-20 08:52] 12345debdut commented on #160
@NattyBadWolf I have achieved the same thing with a bit hack such as -->
.setOnBalloonOverlayTouchListener { _, motionEvent ->
     if(binding.anchorView.isInRange(PointF(motionEvent.rawX, motionEvent.rawY))) {
         // Do what ever you want with the touch for overlay click
     } else {
         // Do whatever you want with the outside touch.
     }
}

fun View.isInRange(point: PointF): Boolea

[2022-10-21 00:32] skydoves commented on #373
Hey @saulmm2, Thanks for reporting this issue! This will be fixed in the next release.

[2022-10-25 18:23] alashow opened #376 "Allow setting lineSpacingExtra"
It would be great if `lineSpacingExtra` was one of the text styling options

[2022-10-26 10:21] chaimgross opened #377 "Sequential balloons with ability to go back and forth, and to show more then one View as highlighted"
As a developer I would like to be able to use the lib to display an intro for the app first user, where I highlight different parts of home page. I would like to seamlessly go between highlighting  different components (without showing the Home Screen in between highlights) and would like the ability for user to go back to previous balloon. I also would like the ability to highlight multiple compo

[2022-11-16 16:02] marcpetitvecino opened #378 "Arrow position off when anchoring to a view that is positioned at the left of the screen"

[2022-11-17 15:57] #378 closed